@{
    ViewBag.Title = "Home Page";
}

<div class="card" style="width: 24rem;">
  <div class="card-header">
    Questions
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="~/employee">Consume employees API</a></li>
    <li class="list-group-item"><a href="~/employee/ById">Get employee details via API</a></li>
  </ul>
</div>
<script type="text/javascript" src="~/Scripts/js/buttons.js"></script>
